<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <title>
      Home
    </title>
  </head>

  <body>
    <div class="row ">
      <h1 class="text-center">{{success}}</h1>
      <h1 class="text-center">{{error}}</h1>
      <h1 class="text-center">Welcome to Home Page</h1>
      <form method="POST" action="/signup">
        <div class="row text-center">
          <div class="col-md-4 col-sm-offset-4" style="margin-top: 10px;">
            <div class="col-md-4" style="margin-top: 10px;">
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
